html {
  font-size: 16px;
}

body.project-detail-page {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: white;
    background: linear-gradient(
    to bottom, 
    black 0vh, 
    black 65vh, 
    #8b8245 100vh
);
}

/* Hela alltet i mitten */
.project {
    max-width: 40vw;
    margin: 0 auto;
    padding: 4vh 3vw;
    text-align: center;
    color: whitesmoke;
}

/* Titeln */
.project-title {
    font-size: 2rem;
    margin-bottom: 3vh;
    display: flex;
    align-items: left;
}

/* Bilden i mitten */
.project-image img {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-height: 45vh; 
    object-fit: cover;
    margin-bottom: 2vh;
    border-radius: 1.5vw;
    border: solid whitesmoke;
}

/* Description */
.project-description {
    font-size: 0.8rem;
    text-align: left;
    width: 80%;
    margin-left: 30px;
    line-height: 1.6;
    letter-spacing: 0.05vw;
}

/* Flytta knappen till höger */
.project-visit {
    text-align: right; 
}

/* Knappen */
.visit-button {
    background: #6B5718;
    color: whitesmoke;
    padding: 1.5vh 1.5vw;
    border-radius: 1vw;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

/* Hover effekt */
.visit-button:hover {
    background: #d4c768;
}


/* ---- MOBIL ---- */
@media (max-width: 1024px) {

}

/* ---- MOBIL ---- */
@media (max-width: 600px) {
    .project {
    padding-top: 12vh;
    max-width: 70vw; 
}

.project-title {
    font-size: 1.5rem;
}

.project-description {
    font-size: 0.8rem;
    text-align: left;
    width: 80%;
    margin-left: 30px;
    line-height: 1.6;
    letter-spacing: 0.05vw;
}
}