{% extends "index.html" %}

{% block head %}
<title>About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/aboutstyle.css') }}">
{% endblock %}

{% block content %}
<section class="first_section">
    <div class="about_container">
        <div class="self_img">
            <img src="{{ url_for('static', filename='img/Me.png') }}" alt="Bild på mig">
        </div>
        <div class="about_text">
            <p>Assalamu alaikum!<br>
                I'm Amel Rahmanovic, a student based in Linköping, Sweden.<br>
                <br>
                My top three things of all time are: ARAM, ChatGPT and Instagram Reels.
            </p>
        </div>
    </div>
</section>

<section class="second_section">
    <div class="gym_container">
        <div class="stats">
            <h1>🚨Gym PRs🚨</h1>
            <h2>170kg Squat🔥</h2>
            <h2>95kg Bench🥀</h2>
            <h2>190kg Deadlift💩</h2>
        </div>
        <!-- Bild om gym -->
        <div class="gym_img">
            <img src="{{ url_for('static', filename='img/Ronnie.png') }}" alt="Gym bild">
        </div>
    </div>
</section>
{% endblock %}